.container
{
    // background-color:#FEB777  ;
     display: flex;
     flex-direction: column;
     margin-left: auto;
     margin-right: auto;
     width: 50rem;

     
}
.home{
  

    margin-left: auto;
    margin-right: auto;
    text-align: start;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    margin-top:6rem;
    border-radius: 3px;
    gap: 40px;

    // background-color: #D4D6D7;
    font-family: 'Poppins', sans-serif;


    color: white;
font-size: 18px;
font-weight: 400;
    button{
        margin-top: 30px;
        font-size: 15px;
        padding: .6rem;
        // background-color:#347CC3;
        background-color:#F37402   ;

        border: none;
        color: white;
        font-weight: 600;
        text-align: center;
      
        }
        img{
            object-fit: contain;
            margin-left: 0;
        }
}

@media(height<800px)
{
    .home{
        margin-top:2rem;
        font-size: 15px;


    }
}