.container
{
    // background-color:#FEB777  ;
    width: 100%;
    padding: 50px;

}
.home{
    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 3px;
    // background-color: #D4D6D7;
    background-color:#FEB777  ;


color: black;
font-weight: 600;
    button{
        margin-top: 30px;
        font-size: 15px;
        // background-color: #F37402 ;
        background-color:#347CC3;
        border: none;
        color: white;
        text-align: center;
        width: 100px;
        height: 30px;
        }
}