.container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 60rem;
    gap:20px;

    img{
        border: 5px solid white;
        border-radius: 3px;
        object-fit: contain;
        margin: 0;


    }
    border-radius: 1rem;
    background-color: #D4D6D7;
    padding: 1rem;  
    margin-bottom: 1rem;


}
.imagen{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.sobrenostros
{

    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: 3px;
color: black;
text-align: justify;
        li{
    
        }
        p{
            font-family: 'Poppins', sans-serif;
    
            color: black;
        font-size: 14px;
        font-weight: 400;

        };
      h2{
        color: #066AA3;
        font-family: 'Play', sans-serif;

        border-bottom: 1px solid gray;
      }
    }


    @media(width<1000px)
{
    .container{
        width: auto;
        margin: 1rem;
    }
    .sobrenostros{
        width: auto;
        
    }
}