// .container{
//     display: flex;
//     flex-direction: row;
//     margin-left: auto;
//     margin-right: auto;

// }

// .productServi
// {
//     width: 40rem;
//     margin-left: auto;
//     margin-right: auto;
//     text-align: start;
//     display: flex;
//     flex-direction: column;
//     padding: 1rem;
//     margin-top: 10px;
//     border-radius: 3px;
// color: white;
// }


.container{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 65rem;
 

    img{
        border: 5px solid white;
        border-radius: 3px;
        object-fit: contain;
        margin: 0;


    }
    border-radius: 1rem;
    background-color: #D4D6D7;
    padding: 1rem;  
    margin-bottom: 1rem;

    a{
        font-size: 15px;
        padding: .5rem;
        // background-color:#347CC3;
        background-color:#F37402   ;
        border-radius: 2px;
        border: none;
        color: white;
        font-weight: 600;
        text-align: center;
        float: right;
        text-decoration:none
      
        }
}

.productServi
{

   
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: .5rem;
    border-radius: 3px;
color: black;
       




    h2{
        
        color:#066AA3;
        border-bottom: 1px solid gray;
      }

    }

    p{
        font-family: 'Poppins', sans-serif;
        
        color: black;
        font-size: 14px;
    font-weight: 400;
    }

    .listas{
        display: flex;
        flex-direction: row;
      
  
    
            // ul{
            //     display: flex;
            //     flex-direction: row;
            //     margin-left: auto;
            //     margin-right: auto;
            // }

            
            p{
                font-family: 'Poppins', sans-serif;
        
                color: black;
                font-size: 14px;
                font-weight: 400;
    

            };

            
   
           
    }

.li{

   

    display: flex;
    flex-direction: column;
    align-items: center;  
    background-color: #C0C2C3;
    position: relative;
    padding: 1rem;
    border-radius: 10px;
   

    margin: 1rem;
    gap: 10px;
    width: 19rem;
    p{
        font-size: 14px;
        font-family: 'Poppins', sans-serif;

    }
    // span{
    //     font-size: 15px;
    //     background-color: #066AA3;
    //     color: white;
    //     border-radius:3px;    
    //      padding: 1rem 5rem;
    //     font-weight: 600;
    //     display: flex;
      
    // }  

   
}
   
.titulo{

    font-size: 15px;
    background-color: #066AA3;
    color: white;
    border-radius:3px;    
     padding: 1rem 5rem;
    font-weight: 600;
    display: flex;

 
}

    // .imagenArduino{
    //     img{
    //         transform:rotate(90deg) ;
    //     }
    // }
.datos{
    text-align: start;
    margin: 0;
}