.containesNav {
  display: flex;

  flex-direction: column;

  // padding: 0rem 2rem 0rem 2rem;
  z-index: 1000;
  justify-content: space-between;
  margin-bottom: 10px;

  img {
    margin-left: 500px;

    float: left;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 1000;
  padding-top: 1rem;
  padding-bottom: 1rem;

  background-color: white;


}
.nav {
  display: flex;
  flex-direction: row;
  background-color: #D4D6D7 ;
  margin-left: auto;
  margin-left: auto;
  padding: 1rem;
  justify-content: center;
  label {
    color: black;
    font-weight: 500;
    cursor: pointer;
    font-size: 13px;
  }
  span {
    padding: 1rem;
  }

  .side_bar_item:hover {
    span {
      background-color: white;
      color: #066AA3;
    }
  }
  .side_bar_item::selection {
    span {
      background-color: white;
      color: #066AA3;
    }
  }
}


@media(height<800px)
{
    .containesNav {
      
     img{
      margin-left: 200px;

     }


    }
}