.productServi
{

    width: 50rem;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #347cc3;
color: white;
}