.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.page{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  // background-color:#77BEFE  ;
  background-color: #066AA3;
  z-index: 1;

  flex: 1;
}
.footer {



  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: white;
    justify-content: center;


    flex-wrap: wrap;
  }

  div {
    // margin: 10px;
    padding: 10px;
    justify-content: center;

  }
  
  span {


    text-align: justify;
    font-size: 13px;
    border-right: 0.5px solid gray;



    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      object-fit: contain;
    }
  }
  p {
    margin: 0;

    text-align: center;
    color: #F17502;
    font-weight: 600;
    font-size: 15px;

  }
  label {
 padding-top: 30px;
    text-align: justify;
    font-size: 13px;
  }
}
.imge{

  border-bottom:  0.5px solid gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
